$primary-font-color: #ffffff;
$secodary-font-color: #000000;
$tertyary-font-color: #666666;

$active-color: #d91667;
$deactive-color: #b3b3b3;
$deactive-buy-color: #ffff66;

$btn-border: 4px solid $deactive-color;
$btn-border-active: 4px solid $active-color;
